/* Iniciando o  projeto */
/* Definindo variaveis de cor */
    /* --corBG: black;
    --corFonte1 : #A7C6DA;
    --corFonte2 : #FFFFFF; */
html{
  /* scroll-behavior: smooth; */
}
a{
  text-decoration: none;
  color: #FFFFFF;
}
body{
  margin: 0;
  font-family: "Noticia Text";
  background-color: black;
}

p{
  font-family: "Noticia Text";
  color: #FFFFFF;
}
a{
  text-decoration: none;
}


div{
  color: #FFFFFF;
}



/* Classes */
#myHeader{
  transition: width 2s;
}

/* a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
} */

.sticky {
  
}

.h6praTirarOWarning{
  display: none;
}




.conteudo{
  margin-left: 10%;
  margin-right: 5%;
}

.titulo{
  font-size: 43px;
  font-weight: bolder;
  margin-bottom: 5px;
}

.subTitulo{
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 16px;
  margin-top: 0px;
}

.menu{
  font-family: Futura;
}
#menu{
  border-radius: 25px;
  width: 40%;
  /* width: 50%; */
  /* margin-bottom: 30px; */
  
}
.divAgrupadorMenu{
  padding-bottom: 40px;
  position: fixed;
  top: 0;
  width: 100%;
  margin-right: 20%;
  background-color: black;
  transition: width 2s;
}

#menu ul {
  padding: 5px;
  margin: 0px;
  background-color:#4D4D4D;
  list-style:none;
  border-radius: 25px;
}

#menu ul li {
  display: inline;
  border-radius: 25px;
 }

#menu ul li a {
  padding: 2px 10px;
  display: inline-block;
  border-radius: 25px;
  /* visual do link */
  background-color:#4D4D4D;
  color: #FFFFFF;
  text-decoration: none;
  /* border: 5px solid #4D4D4D; */
 
  transition: color 0.4s ease 0s;
}

#menu ul li a:hover {
  color: black;
  /* border-radius: 25px; */
}
.topMenu{
  margin-left: 10%;
  margin-right: 5%;
  margin-bottom: 40px;
  height: 150px;
  padding-bottom: 30px;
  
}

.imagemHome{
  /* height: 380px;
  width: 385px; */
  margin-right: 20px;
}

.imgGrande{
  height: 380px;
  width: 380px;
  border-radius: 50%;
}

/* Criando aqui um grid com flexbox */
/* E dando uma ajustada na questao da reponsividade */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-basis: 100%;
}
.center{
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 728px) {
  .column {
    flex: 1;
  }
  .topMenu{
    margin-left: 25%;
    margin-right: 20%;
  }
  .conteudo{
    margin-left: 25%;
    margin-right: 20%;
  }
}

#home{
  /* display: flex; */
  margin-bottom: 100px;
  /* flex-wrap: wrap; */
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #61D0D4;
  margin: 1em 0;
  padding: 0; 
  /* margin-bottom: 60px; */
}

.olaDiferente{
  font-size: 80px;
  color: #A7C6DA;
  font-weight: bolder;
}
.sobreMim{
 font-size: 46px;
}
.divImagensHome{
  display: flex;
  
}
.agrupadorHome{
  display: flex;
  flex-wrap: wrap;
}

.imgHomeItem{
  width: 180px;
  height: 90px;
  flex-grow: 1;
  /* object-fit: cover; */
}
.imgHomeItem2{
  width: 88px;
  height: 90px;
  margin-right: 30px;
  flex-grow: 1;
  /* object-fit: cover; */
}
.imgHomeItem3{
  width: 111px;
  height: 111px;
  flex-grow: 1;
}

.tituloSection{
  font-size: 80px;
  color: #A7C6DA;
}
.tituloContato{
  font-size: 80px;
  color: #EAE5E5;
}

#sobre{
  display: flex;
  /* margin-bottom: 100px; */
  flex-wrap: wrap;
  padding: 40px;
 
}
.raleway{
  font-family: "Raleway script=all rev=1";
  font-weight: 800;
}

.underline{
  text-decoration: underline;
  transition: color 0.4s ease 0s;
}
.underline:hover{
  color: #61D0D4;
}
.trabalho{
  display: flex;
  flex-wrap: nowrap;
  min-width: 400px;
  max-width: 500px;
  margin-bottom: 30px;
}
.textoTrabalho{
  margin-left: 20px;
}
.divTrabalhos{
  margin-bottom: 100px;
}
.linhaTrabalho{
  display: flex;
  flex-wrap: nowrap;
  margin-top: 40px;
}
#portifolio{
  padding: 20px;
}
.divTrabalhos{
  margin-top: 30px;
}

.trabalho1{
  width: 173px;
  height: 146px;
  /* object-fit: cover */
}

.bold{
  font-weight: bold;
}

.trabalho2{
  width: 181px;
  height: 148px;
  /* object-fit: cover; */
}
.trabalho3{
  width: 181px;
  height: 146px;
}
.trabalho4{
  width: 183px;
  height: 146px;
}

.divFormTitulo{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;

}
.divFormColumnTitulo{
  max-width: 40%;
  margin-bottom: 30px;
}

.divForm{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;

}
.divFormColumn{
  max-width: 40%;
  margin-bottom: 30px;
}
.contatoAgrupador{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contatoAgrupadorlabel{
  /* float: right; */
  width: 30%;
  text-align: right;
  align-self: flex-start;
  margin-right: 10px;
}


.contatoAgrupador input{
  float: right;
  align-self: flex-end;
  width: 500px;
  border: 0px solid rgba(17, 42, 75, 1);
  box-sizing: border-box;
  color: #112A4B;
  border-radius: 5px;
  background-color: rgba(139, 139, 139, 1);
  font: normal normal normal 15px/1.4em 'noticia text',serif;
  padding: 5px;
  margin-bottom: 10px;
}
.contatoAgrupador textarea{
  width: 500px;
  border: 0px solid rgba(17, 42, 75, 1);
  box-sizing: border-box;
  color: #112A4B;
  border-radius: 5px;
  background-color: rgba(139, 139, 139, 1);
  font: normal normal normal 15px/1.4em 'noticia text',serif;
  padding: 5px;
  margin-bottom: 10px;
}

.botaoEnviar {
  align-self: flex-end;
  height: 40px;
  /* w: 60px; */
	background-color:#42878c;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:10px;
	border:1px solid #418a8d;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
  padding:10px;
	text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  transition: background-color 0.4s ease 0s;
}
.botaoEnviar:hover {
	background-color:#1b435e;
}
.botaoEnviar:active {
	position:relative;
	top:1px;
}

#footer{
  margin-top: 30px;
  width: 100%;
  height: 120px;
  background-color: #436D7F;
  display: flex;
  /* margin-bottom: 100px; */
  flex-wrap: nowrap;
  /* padding: 40px; */
  align-items: center;
  justify-content: center;
}
        
.agrupadorFooter{
  display: flex;
  flex-wrap: nowrap;
  margin-right: 100px;
}
.imgFooter{
  height: 50px;
  margin-right: 20px;
}
.imgFacebook{
  height: 30px;
}
.textFooter{
  font-size: 13px;
}

.anchor{
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}
